@import url('https://fonts.cdnfonts.com/css/akira-expanded');


.gradient-div:hover {
    background: linear-gradient(45deg, #f06, #00f, #0c6);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



  @media (max-width: 1000px) {
    .respo{
      gap: 10px !important;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 500px) {
    .respo-header{
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }

  .slogan{
    font-family: 'Akira Expanded', sans-serif;
    /* font-family: 'Caprasimo', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Duru Sans', sans-serif;
    font-family: 'Exo 2', sans-serif; */
}



/* radial grapich css */
.radial-chart {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in;
}
.radial-chart.no-progress .radial-chart-progress {
  opacity: 0;
}
.radial-chart-total {
  opacity: 0.3;
}
.radial-chart-progress {
  transform: rotate(90deg);
  transform-origin: center;
  transition: all 1.4s cubic-bezier(0.58, 0.16, 0.5, 1.14);
  transition-delay: 0.25s;
}
  


.ortalama{
  width: calc(100% - 80px);
}

.slogan2{
  font-family: 'Caprasimo', cursive;
  font-family: 'Duru Sans', sans-serif;
}







.sloganrenk {
  font-size: 3rem;
  background-clip: text;
  background-image: linear-gradient(45deg, #ff6b6b, #ffa06b, #ffd86b, #8aff6b, #6bffdb, #6b8aff, #d86bff, #ff6bff);
     /* background-image: linear-gradient(45deg, #a300c2, #bd35d1, #526ee1, #2befea, #6bffdb, #00dbff, #1af274, #aff21a);  */

  background-size: 200% auto;
  color: transparent;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* border */



  
  
  
  
  
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities